

<div>
    <form >
       
        <div class="form-group row">
                <label  class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input 
                           id="Name",
                           name="Name"
                           data-val="true"
                           data-val-textMatch="Enter value should always be Naveen"
                           data-val-textMatch-expectedText="Naveen"
                           type="text" class="form-control" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </div>

            </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>